<mat-card class="d-m">

    <!-- Título -->
    <mat-card-title>Cabeçalho</mat-card-title>

    <!-- Form -->
    <mat-card-subtitle class="d-pad-top">
        <form [formGroup]="form">

            <!-- Título -->
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Título</mat-label>
                <input matInput formControlName="descricao" placeholder="Digite o título da sua noticia..."
                    cdkFocusInitial required>
            </mat-form-field>

            <!-- Erros do título -->
            <mat-error class="d-m-bottom" *ngIf="tituloControl!.errors?.['maxLenght']">
                O <b>título</b> não pode possuir mais do que 80 caracteres!
            </mat-error>

            <!-- Destinatários -->
            <mat-form-field class="full-width" appearance="fill">

                <!-- Label -->
                <mat-label>Destinatários</mat-label>

                <!-- Chips -->
                <mat-chip-list #chipList aria-label="Destinatários">
                    <mat-chip *ngFor="let destinatario of destinatariosControl?.value; index as i"
                        (removed)="removeDestinatario(i)">
                        {{destinatario | idDescricao : '' : 'email'}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input #destinatarioInput placeholder="Adicionar destinatário..." [matAutocomplete]="auto"
                        [matChipInputFor]="chipList" (input)="filtrarDestinatarios()"
                        (focus)="destinatarioAutocomplete.onFocusAutocomplete()" required>
                </mat-chip-list>

                <!-- Autocomplete -->
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                    (optionSelected)="addDestinatario($event)">
                    <mat-option *ngFor="let option of destinatarioAutocomplete.optionsFiltradas | async"
                        [value]="option">
                        {{option | idDescricao : '' : 'email'}}
                    </mat-option>
                </mat-autocomplete>

            </mat-form-field>

        </form>
    </mat-card-subtitle>

</mat-card>