<form [formGroup]="form" class="auth-container min-height-400px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!-- Nome de usuário -->
      <mat-form-field [appearance]="'outline'">
        <mat-label>Usuário ou e-mail</mat-label>
        <input matInput formControlName="username" placeholder="Informe seu usuário ou e-mail" type="text">
        <mat-error>{{username.errors | erro}}</mat-error>
      </mat-form-field>

      <span><a class="link-esqueceu-senha" routerLink="/recuperacao-senha">Esqueci minha senha</a></span>

      <!-- Nova senha -->
      <app-input-password [control]="this.form.controls['password']"></app-input-password>

    </mat-card-content>

    <mat-card-actions class="full-width align-center no-margin">
      <button class="full-width btn-entrar" color="primary" [disabled]="form.invalid" (click)="login()"
        mat-raised-button>
        Entrar
      </button>
    </mat-card-actions>

    <div *ngIf="mensagemErro" class="text-center d-pad-bottom">
      <mat-error>{{mensagemErro}}</mat-error>
    </div>

    <div class="text-center column">
      <span>Não possui conta? <a routerLink="/cadastro">Cadastre-se aqui</a></span>
    </div>

  </mat-card>
</form>
