  <mat-tab-group class="auth-container" mat-align-tabs="center" dynamicHeight>
      <mat-tab class="mat-tab-label" label="Login">
        <form [formGroup]="form" class="auth-container">
          <mat-card>
              <mat-card-content>

                  <mat-form-field [appearance]="'outline'">
                      <mat-label>Usuário</mat-label>
                      <input matInput formControlName="username" required placeholder="Usuário" type="text">
                      <mat-error>Usuário obrigatório</mat-error>
                  </mat-form-field>

                  <mat-form-field [appearance]="'outline'">
                      <mat-label>Senha</mat-label>
                      <input matInput type="password" formControlName="password" required>
                      <mat-error>Senha obrigatória</mat-error>
                  </mat-form-field>

              </mat-card-content>
              <mat-card-actions>
                  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="end center">
                      <!-- <button color="secondary" (click)="cadastrar()" mat-raised-button>Cadstre-se</button> -->
                      <button color="primary" [disabled]="form.invalid" (click)="login()" mat-raised-button>Entrar</button>
                  </div>
              </mat-card-actions>

              <div *ngIf="mensagemErro" class="text-center">
                  <mat-error>{{mensagemErro}}</mat-error>
              </div>

          </mat-card>
      </form>
      </mat-tab>

      <mat-tab label="Cadastre-se">
        <form [formGroup]="formCadastro" class="auth-container">
          <mat-card>
              <mat-card-content>

                  <mat-form-field [appearance]="'outline'">
                      <mat-label>Nome completo</mat-label>
                      <input matInput formControlName="fullname" required placeholder="Nome completo" type="text">
                      <mat-error>Nome completo obrigatório</mat-error>
                  </mat-form-field>

                  <mat-form-field [appearance]="'outline'">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required placeholder="Email" type="email">
                    <mat-error>Email obrigatório</mat-error>
                </mat-form-field>

                  <mat-form-field [appearance]="'outline'">
                      <mat-label>Usuário</mat-label>
                      <input matInput type="text" formControlName="username" required>
                      <mat-error>Usuário obrigatório</mat-error>
                  </mat-form-field>

                  <mat-form-field [appearance]="'outline'">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="password" required>
                    <mat-error>Senha obrigatória</mat-error>
                </mat-form-field>

              </mat-card-content>
              <mat-card-actions>
                  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="end center">
                      <!-- <button color="secondary" (click)="cadastrar()" mat-raised-button>Cadstre-se</button> -->
                      <button color="primary" [disabled]="form.invalid" (click)="login()" mat-raised-button>Cadastrar</button>
                  </div>
              </mat-card-actions>

              <div *ngIf="mensagemErro" class="text-center">
                  <mat-error>{{mensagemErro}}</mat-error>
              </div>

          </mat-card>
      </form>
      </mat-tab>
  </mat-tab-group>
