<h3>Município / Cadastro</h3>
<div class='controles'>
    <button pButton type="button" label="Pesquisar" routerLink='/municipio/pesquisa'
        class="ui-button-secondary"></button>
    <button pButton type="button" label="Novo" (click)="novo()" class="ui-button-secondary"></button>
    <button pButton type="button" label="Excluir" (click)="excluir()" class="ui-button-danger"
        *ngIf='editando'></button>
</div>
<p-panel header="Identificação">
    <form [formGroup]="formMunicipio">
        <div class="ui-fluid">
            <div class="p-grid">
                <div class="p-col-2">
                    Código
                    <input type="text" pInputText formControlName="id">
                </div>
                <div class="p-col-7">
                    Nome (obrigatório)
                    <input type="text" pInputText formControlName="nome">
                </div>
                <div class="p-col-3">
                    UF (obrigatório)
                    <p-dropdown [options]="ufs" optionLabel="value" dataKey="key" formControlName="uf" filter="true"></p-dropdown>
                </div>
            </div>
        </div>
    </form>
</p-panel>
<br>
<div class='controles'>
    <button pButton type="button" label="Salvar" (click)="salvar()" class="ui-button-success"></button>
    <button pButton type="button" label="Cancelar" (click)="cancelar()" class="ui-button-secondary"></button>
</div>