<mat-card class="d-m">

  <!-- Título -->
  <mat-card-title>Destinatário</mat-card-title>

  <!-- Form -->
  <mat-card-subtitle>
    <form [formGroup]="form">

      <!-- Email -->
      <mat-form-field class="full-width d-pad-top" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input #emailInput matInput formControlName="email" required placeholder="seunome@exemplo.com" type="email"
          (keyup.enter)="persistirEdicao()">
        <mat-error>{{email.errors | erro}}</mat-error>
      </mat-form-field>

      <!-- Grupos -->
      <div class="full-width d-flex align-center">

        <!-- Form-Field -->
        <mat-form-field class="grow" appearance="fill">
          <!-- Label -->
          <mat-label>Grupos</mat-label>

          <!-- Chips -->
          <mat-chip-list #chipList aria-label="Grupos">
            <mat-chip *ngFor="let grupo of gruposControl?.value; index as i" (removed)="removeGrupo(i)">
              {{grupo.name}}
              <button type="button" class="mat-chip-remove" (click)="abrirModalCadastroGrupo(grupo, i)">
                <mat-icon>edit</mat-icon>
              </button>
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input #grupoInput placeholder="Adicionar grupo..." [matAutocomplete]="auto" [matChipInputFor]="chipList"
              (input)="filtrarGrupos()" (focus)="grupoAutocomplete.onFocusAutocomplete()"
              (keyup.enter)="persistirEdicao()" required>
          </mat-chip-list>

          <!-- Autocomplete -->
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="addGrupo($event)">
            <mat-option *ngFor="let option of grupoAutocomplete.optionsFiltradas | async" [value]="option" (click) = "this.adicionandoGrupo = false">
              {{option | iddescription : '' : 'name'}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- Botão incluir novo -->
        <div class="d-m-bottom-lg">
          <button type="button" class="button-outline" mat-icon-button color="primary"
            title="Incluir novo"
            (click)="abrirModalCadastroGrupo()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </div>

      <div>
        <mat-checkbox [checked]="this.subscribed.value == 'YES' " color="primary"
          (change)="changeEventCheckSubscribed($event)">
          Inscrito para receber as newsletters via e-mail
        </mat-checkbox>

        <span *ngIf="(subscribed.value != 'YES' && lastEmailUnsubscribedDate.value)"> <b> | O destinatário cancelou sua inscrição
            pela última vez em {{lastEmailUnsubscribedDate.value | date: 'dd/MM/yyyy HH:mm:ss'}}</b></span>
      </div>

    </form>
  </mat-card-subtitle>

  <!-- Ações -->
  <mat-card-actions align="end" class="align-center">
    <b class="d-m-right">ID:</b> {{form.controls['id'].value || 'Nada (novo registro)'}}
    <button mat-stroked-button (click)="resetFormNovo()">Novo registro</button>
    <button mat-button class="mat-button-sucess" (click)="persistirEdicao()">Gravar</button>
    <button *ngIf="form.controls['id'].value" mat-button class="mat-button-warn"
      (click)="removerRegistro()">Excluir</button>
  </mat-card-actions>

</mat-card>
