<div class="d-flex column d-pad">

    <!-- Filtro -->
    <form [formGroup]="form" class="column d-pad-card-container">

        <!-- Título -->
        <h2 class="d-flex align-center align-self-start">
            <b class="d-m-right">Pesquisa na base de dados</b>
            <mat-icon class="icon-offset-top">search</mat-icon>
        </h2>

        <!-- Slide toggle -->
        <div class="full-width row d-m justify-end">
            <mat-slide-toggle class="d-pad-right" [checked]="autoBusca" color="primary"
                (toggleChange)="onAutoBuscaChange()">
                Busca automática
            </mat-slide-toggle>
        </div>

        <!-- Filtro -->
        <mat-card>

            <!-- Título -->
            <mat-card-title>Filtro</mat-card-title>

            <!-- Conteúdo -->
            <mat-card-content>
                <div class="row align-center">

                    <!-- Campo -->
                    <mat-form-field class="d-flex grow d-pad-top d-m-right" appearance="fill">
                        <mat-label>Filtro</mat-label>
                        <input matInput formControlName="filtro" placeholder="Pesquise por título ou palavra-chave...">
                    </mat-form-field>

                    <!-- Botão pesquisa -->
                    <button class="d-flex button-outline d-m-bottom" mat-icon-button aria-label="pesquisar"
                        (click)="filtrarNoticias()">
                        <mat-icon>search</mat-icon>
                    </button>

                </div>

                <!-- Check "não enviadas" -->
                <div class="full-width row">
                    <mat-checkbox formControlName="naoEnviadas" color="primary">
                        Apenas notícias não enviadas
                    </mat-checkbox>
                </div>

            </mat-card-content>

        </mat-card>

    </form>

    <!-- Resultados -->
    <div class="d-pad-card-container">
        <mat-card>

            <!-- Título -->
            <mat-card-title>Resultados</mat-card-title>

            <mat-card-subtitle>

                <!-- Spinner -->
                <div *ngIf="loading; else resultados" class="d-flex justify-center full-width">
                    <mat-progress-spinner mode="indeterminate">
                    </mat-progress-spinner>
                </div>

                <!-- Lista de resultados -->
                <ng-template #resultados>
                    <div class="d-flex column">
                        <app-pesquisa-noticia-resultado class="full-width border-bottom"
                            *ngFor="let dto of listaResultado" [dto]="dto" [pesquisaNoticiasModelos] = "pesquisaNoticiasModelos">
                        </app-pesquisa-noticia-resultado>
                    </div>
                </ng-template>

            </mat-card-subtitle>

        </mat-card>
    </div>

</div>
