<div class="d-flex column d-pad">

    <!-- Filtro -->
    <form [formGroup]="form" class="column d-pad-card-container">

        <!-- Título -->
        <h2 class="d-flex align-center align-self-start">
            <b class="d-m-right">Pesquisa na base de dados</b>
            <mat-icon class="icon-offset-top">search</mat-icon>
        </h2>

        <!-- Slide toggle -->
        <div class="full-width row d-m justify-end">
            <mat-slide-toggle class="d-pad-right" [checked]="autoBusca" (toggleChange)="onAutoBuscaChange()">
                Busca automática
            </mat-slide-toggle>
        </div>

        <div class="row align-center">

            <!-- Campo -->
            <mat-form-field class="d-flex grow d-pad-top d-m-right" appearance="fill">
                <mat-label>Filtro</mat-label>
                <input matInput formControlName="filtro" placeholder="Pesquise por título ou palavra-chave...">
            </mat-form-field>

            <!-- Botão pesquisa -->
            <button class="d-flex button-outline d-m-bottom" mat-icon-button aria-label="pesquisar"
                (click)="filtrarNoticias()">
                <mat-icon>search</mat-icon>
            </button>

        </div>

    </form>

    <div class="d-pad-card-container">
        <mat-card>

            <!-- Título -->
            <mat-card-title>Resultados</mat-card-title>

            <mat-card-subtitle>

                <!-- Spinner -->
                <div *ngIf="loading; else resultados" class="d-flex justify-center full-width">
                    <mat-progress-spinner mode="indeterminate">
                    </mat-progress-spinner>
                </div>

                <!-- Lista de resultados -->
                <ng-template #resultados>
                    <div class="d-flex column">
                        <app-pesquisa-artigo-resultado class="full-width border-bottom"
                            *ngFor="let dto of listaResultado" [artigoDto]="dto">
                        </app-pesquisa-artigo-resultado>
                    </div>
                </ng-template>

            </mat-card-subtitle>

        </mat-card>
    </div>

</div>