<mat-card class="d-m">

    <!-- Título -->
    <mat-card-title>Pesquisa</mat-card-title>

    <!-- Form -->
    <mat-card-subtitle class="destinatarios-table">

        <table mat-table [dataSource]="listaRegistros" class="full-width">

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Identificador </th>
                <td mat-cell *matCellDef="let destinatario"> {{destinatario.id}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let destinatario"> {{destinatario.email}} </td>
            </ng-container>

            <!-- Grupo Column -->
            <ng-container matColumnDef="groups">
                <th mat-header-cell *matHeaderCellDef> Grupos </th>
                <td mat-cell *matCellDef="let destinatario">{{destinatario.groups | destinatariosGrupos}}</td>
            </ng-container>

            <!-- Ações -->
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let destinatario" style="width: 150px;">
                    <button mat-icon-button title="Editar" class="mat-button-hover-actions hover-button"
                        (click)="editarRegistro(destinatario.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button title="Remover" class="mat-button-hover-actions hover-button text-error"
                        (click)="removerRegistro(destinatario.id)">
                        <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Header -->
            <tr mat-header-row *matHeaderRowDef="columns"></tr>

            <!-- Rows -->
            <tr mat-row (click)="editarRegistro(row.id)" *matRowDef="let row; columns: columns;"></tr>

        </table>
    </mat-card-subtitle>

</mat-card>