<mat-dialog-content class="configuracao-dialog">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="E-mail">
      <app-configuracao-email></app-configuracao-email>
    </mat-tab>

    <mat-tab label="Aplicação">
      <app-configuracao-aplicacao></app-configuracao-aplicacao>
    </mat-tab>
  </mat-tab-group>

  <!-- Spinner -->
  <!-- <div *ngIf="configuracaoEmailComponent?.loading || configuracaoAplicacaoComponent?.loading"
    TODO: ajustar erro de ExpressionChangedAfterItHasBeenCheckedError -->
  <div *ngIf="false" class="d-flex justify-center full-width">
    <mat-progress-spinner class="d-m-right full-width" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</mat-dialog-content>

<!-- <mat-dialog-actions *ngIf="!configuracaoEmailComponent?.loading && !configuracaoAplicacaoComponent?.loading" align="end">
  TODO: ajustar erro de ExpressionChangedAfterItHasBeenCheckedError-->
<mat-dialog-actions *ngIf="true" align="end">
  <button mat-button (click)="gravar()" color="accent">Gravar</button>
  <button mat-stroked-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
