<mat-card class="d-m">

    <!-- Título -->
    <mat-card-title>
        <div class="d-flex justify-between">

            <!-- Texto -->
            <!-- <span>Texto</span> -->

        </div>
    </mat-card-title>

    <!-- Form -->
    <mat-card-subtitle class="d-pad-top">
        <form [formGroup]="form">

            <!-- Campo (texto) -->
            <div>
                <editor #editor class="full-width" [init]="getInitData()" formControlName="newsletter" apiKey="oy0mou7olj3k7ooe5jqudtv3dsoiq1ce500hymtnucmplgh8"></editor>
            </div>

        </form>
    </mat-card-subtitle>

</mat-card>
