.title-slide-toggle {
    font-size: small;
    font-weight: normal;
}

.info-envio {
  /* top | right | bottom | left */
  padding: 2px 2px 2px 0px;
  font-size: 14px;
}

.info-icon {
  color: #f9a825;
}
