<h3>Município / Pesquisa</h3>
<div>
    <div class="p-grid">
        <div class="p-col-fixed" style='width: 160px'>
            <button pButton type="button" label="Incluir" routerLink='/municipio/novo' class="ui-button-success"></button>
        </div>
        <div class="p-col ui-fluid">
            <form [formGroup]="formPesquisa">
                <div class="ui-inputgroup">
                    <input type="text" pInputText formControlName="valorPesquisa" placeholder="pesquisar...">
                    <button pButton type="button" icon='pi pi-search' (click)='pesquisar()'></button>
                </div>
            </form>
        </div>
        <div class="p-col-fixed" style='width: 140px; text-align: right'>
            <button pButton type="button" label="Limpar filtro" (click)='limparPesquisa()' class="ui-button-secondary"></button>
        </div>
    </div>
</div>
<table mat-table>
    <ng-template pTemplate="header">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>UF</th>
            <th style='width: 60px'>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-municipio>
        <tr>
            <td>{{municipio.id}}</td>
            <td>{{municipio.nome}}</td>
            <td>{{municipio.uf}}</td>
            <td style='text-align: center;'>
                <a routerLink='/municipio/{{ municipio.id }}'>
                    <span class='pi pi-pencil' style='font-size: x-large'></span>
                </a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">
                <div style="padding: 20px">
                    Nenhum registro listado
                </div>
            </td>
        </tr>
    </ng-template>
</table>

