<mat-card class="d-m">

  <!-- Título -->
  <mat-card-title>Grupo</mat-card-title>

  <!-- Form -->
  <mat-card-subtitle>
    <form *ngIf="form" [formGroup]="form">

      <!-- Email -->
      <mat-form-field class="full-width d-pad-top" appearance="fill">
        <mat-label>Nome</mat-label>
        <input #nameInput matInput formControlName="name" required type="text" (keyup.enter)="persistirEdicao()">
        <mat-error>{{name.errors | erro}}</mat-error>
      </mat-form-field>

      <div>
        <mat-card class="mat-card-link-autoinscricao">
          <mat-cart-content>
            <mat-card-title class="link-autoinscricao">Link para autoinscrição</mat-card-title>
            {{linkEmailSelfRegistration}}
          </mat-cart-content>
          <mat-card-actions>
            <button mat-icon-button title="Gerar novo link"
              (click)="onGerarLinkClick()"><mat-icon>autorenew</mat-icon></button>
            <button *ngIf="uuidToSelfRegistration.value" mat-icon-button
              title="Remover link" (click)="onRemoveLinkClick()"><mat-icon>clear</mat-icon></button>
            <button *ngIf="uuidToSelfRegistration.value" mat-icon-button title="Copiar link"
              [cdkCopyToClipboard]="linkEmailSelfRegistration" (click)="onClickContentCopy()"><mat-icon
                svgIcon="content-copy"></mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>

    </form>
  </mat-card-subtitle>

  <!-- Ações -->
  <mat-card-actions align="end" class="align-center">
    <b class="d-m-right">ID:</b> {{form.controls['id'].value || 'Nada (novo registro)'}}
    <button mat-stroked-button (click)="resetFormNovo()">Novo registro</button>
    <button mat-button class="mat-button-sucess" (click)="persistirEdicao()">Gravar</button>
    <button *ngIf="form.controls['id'].value" mat-button class="mat-button-warn"
      (click)="removerRegistro()">Excluir</button>
  </mat-card-actions>

</mat-card>
