<div class="d-flex column d-pad">

  <div class="d-pad-card-container">

    <!-- Título -->
    <h2 class="d-flex align-center d-m align-self-start">
      <b class="d-m-right">Newsletter</b>
      <mat-icon class="icon-offset-top">newspaper</mat-icon>
    </h2>

    <!-- Card cabeçalho -->
    <app-card-noticia-cabecalho class="full-width"></app-card-noticia-cabecalho>

    <!-- Ações -->
    <div class="d-flex justify-end d-m-vertical">

      <mat-progress-spinner *ngIf="loading; else actionButtons" class="d-m-right full-width" mode="indeterminate"
        diameter="50">
      </mat-progress-spinner>

      <!-- Botões -->
      <ng-template #actionButtons>

        <button mat-stroked-button class="d-m-right" (click)="abrirCardSelecionarNoticiaModelo()">Selecionar
          modelo</button>

        <button mat-stroked-button class="d-m-right" [routerLink]="['/admin/noticia/manutencao']"
          (click)="resetFormNovo()">Novo registro</button>

        <div class="d-flex" *ngIf="registro.id && !registro.newsletterTemplate">
          <button mat-button class="mat-button-accent button-send-email" (click)="onClickEnviar()"
            title="Enviar newsletter por e-mail">Enviar</button>
          <button class="d-m-right color-primary button-schedule" [matMenuTriggerFor]="menu">
            <mat-icon class="color-white">arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item title="Agendar envio da newsletter por e-mail" (click)="onClickSchedule()">
              <mat-icon>schedule</mat-icon>
              <span>Agendar envio</span>
            </button>
          </mat-menu>
        </div>

        <button mat-button class="mat-button-sucess d-m-right" (click)="onClickSalvar()">Gravar</button>

        <button *ngIf="registro.id" mat-button class="mat-button-warn d-m-right"
          (click)="onClickRemover()">Excluir</button>

      </ng-template>

    </div>

    <!-- Card texto -->
    <app-card-noticia-texto [lastSentEmailNewsletter]="lastSentEmailNewsletter"
      class="full-width"></app-card-noticia-texto>

  </div>

</div>
