.angular-editor-wrapper img {
    max-width: 90%;
}

.color-primary {
  background-color: #f9a825;
}

.button-schedule {
  border: none;
  border-radius: 4px;
  border-left: 1px solid #FFF !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.button-schedule:hover {
  cursor: pointer;
}

.button-send-email {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.color-white {
  color: #FFF;
}
